ebooklib==0.17.1
epubcheck==0.4.2
openpyxl==2.6.3
fuzzywuzzy[speedup]==0.17.0
lxml>=4.6.2
mock==3.0.5
numeral==0.1.0.11
pillow>=6.2.1
pycountry==19.8.18
PyExecJs==1.5.1
pytest==5.2.0
six==1.12.0
sphinx==2.2.0
sphinx-autobuild==0.7.1
tablib==0.13.0
